<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='PubQuizCSS.css') }}">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

<!--    {% for category, message in messages %}-->
<!--      <div class="alert alert-{{ category }}">{{ message }}</div>-->
<!--&lt;!&ndash;IF WANT MESSAGE TO BE RED INSERT DANGER AS CATEGORY&ndash;&gt;-->
<!--    {% endfor %}-->

  {% endif %}
{% endwith %}

{% if error %}
    <div class ="danger">{{error}}</div>
{% endif %}

{% if msg %}
    <div class ="success">{{msg}}</div>
{% endif %}