table.leaderboardClass {
 table-layout:fixed;
  width: 100%;
  text-align: center;

}
.leaderboardClass tr{
background-color: #D5D8DC;
}

.leaderboardClass td,
.leaderboardClass th {
  border: 1px solid #000;
  padding: 4px;
}
tr:nth-child(even) {background-color: #FFF;}


.about-cont .about-bar {
    background-color:#000;
    border:1px solid #000;
    color : #FFF;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.about-cont .content {
    background-color:#000;
    border:1px solid #000;
    display: none;
    padding : 5px;
}
.PQRB
{
    background-color: #3e3e3e;
}

.PQRF
{
    width: 320px;
    background: #3e3d3d;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h1
{
    text-align: center;
    color: #fff;
    font-weight: normal;
}

.PQRI, .button
{
    width: 100%;
    background: none;
    border: 1px solid #fff;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 16px; color: #fff;
}


.PQRI
{
    border: 1px solid #969696;
    align: center;
}
.danger
{
    background-color: red;
}
.success
{
    background-color: green;
}
.regfr
{
    width:350px;
}

.bt
{
    color: black;
}



.btn {
  border-radius: 5px;
  border-color: #ffc627;
  background: #000;
  color: #FFF;
  text-align: center;
  font-size: 19px;
  padding: 10px;
  transition: all 1s;
}
.btn:hover {
  box-shadow: 0 12px 16px #ffc627, 0 17px 80px 0 #ffc627;
  text-shadow: 0px 0px transparent, 0px 0px #ffc627;
}

.navbar-dark {
    background-color: #000!important;

}

.wb, .bg-dark
{
    background-color: #000!important;
}

.wb, .wt
{
    color: #FFF;
}

.navbar-brand{
border: none;
}

.labels{
    color:white;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: -20px;
}
.imgContainer{
    float: left;
    width: 50%;
    height: auto;
    margin-bottom: 0 auto;
    padding: 0.25%;
}
