{% extends 'layout.html' %}

{% block body %}
    <h1 style="color:white">Add Score</h1>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <div class="form-group wt">
            {{ render_field(form.score, class_="form-control col-2") }}
        </div>
        <div class="form-group wt">
            {{ render_field(form.date, class_="form-control col-2", id="cal") }}
        </div>
        <p><input class="btn" type="submit" value="Submit"></p>
    </form>
{% endblock %}