{% extends 'layout.html' %}

{% block body %}

    <h1>Leaderboard</h1>
    <hr>
        <table class="leaderboardClass" id="PQTable">
      <tbody>
        <tr>
          <th>Quiz</th>
<!--          Jinja this: Names-->
          <th>Ben</th>
          <th>Hazel</th>
          <th>Craig</th>
          <th>Meg</th>
        </tr>
        <tr>
          <td>Total</td>
<!--        Jinja this: Total scores-->
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
<!--        Jinja this: Week nums-->
        <tr>
          <td>week 1</td>
        </tr>
        <tr>
          <td>week 2</td>
        </tr>
        <tr>
          <td>week 3</td>
        </tr>
      </tbody>
    </table>
{% endblock %}