{% extends 'layout.html' %}

{% block body %}
<h1>Leaderboard</h1>
    <hr>
        <table class="leaderboardClass" id="PQTable">
      <tbody>
        <tr>
          <th>Quiz</th>
         {% for i in headers %}
          <th>{{ headers[i] }}</th>
          {%- endfor -%}
        </tr>
        <tr>
<!--          <td>Total</td>-->
<!--&lt;!&ndash;        Jinja this: Total scores&ndash;&gt;-->
<!--          <td>0</td>-->
<!--          <td>0</td>-->
<!--          <td>0</td>-->
<!--          <td>0</td>-->
<!--        </tr>-->
<!--        Jinja this: Week nums-->
        {% for week_no in range(num_rows)|reverse %}
        <tr>
          <td>Week: {{ week_no }}</td>
          {% for j in scores %}
           {% if j %}
            <td>{{ j }}</td>
           {% else %}
            <td>0</td>
          {% endif %}
          {%- endfor -%}
        </tr>
        {%- endfor -%}

      </tbody>
    </table>
{% endblock %}